.help
  position relative
  display inline-block
  font-size 0
  width var(--size)
  height var(--size)
  &:before
    transition 0.2s
    position absolute
    width var(--size)
    height var(--size)
    display block
    content ''
    top 0
    right 0
    bottom 0
    left 0
    margin auto
    border-radius calc(var(--size) / 2)
    background #42ce9f
  &:after
    position absolute
    width var(--size)
    height var(--size)
    font-size calc(var(--size) / 1.5)
    font-style normal
    font-weight bold
    display block
    line-height var(--size)
    text-align center
    content '?'
    top 0
    left 0
    color #fff
  &:hover
    &:before
      background #41b289

.search
  position relative
  display inline-block
  width var(--size)
  height var(--size)
  &::after
    position absolute
    font-family:"Font Awesome 5 Free"
    font-size calc(var(--size) / 1.5)
    line-height var(--size)
    text-align center
    font-style normal
    font-weight bold
    content '\f002'
    top 0
    right 0
    bottom 0
    left 0
    margin auto

.img
  border-radius 100%
  display inline-block
  line-height 1
