h2.initialSettings
  text-align center
  font-size 20px
  color #888
  font-weight 600

h3.initialSettings
  width min(80%, 800px)
  margin min(20px, 5%) auto 10px auto
  font-size 18px
  font-weight 500