.wrapper
  display flex
  flex-direction column
  justify-content center
.inputList
  margin min(20px, 2%) 0
  .inputWrapper
    width min(70%, 800px)
    position relative
    overflow visible
    margin 25px auto
    .input
      width 100%
    .deleteButton
      position absolute
      right -50px
      top 50%
      transform translateY(-50%)
.dummyInput
  position relative
  display block
  background rgba(253, 253, 253, 0.3)
  width min(70%, 800px)
  height 35px
  margin 25px auto
  .addButton
    position absolute
    top 50%
    transform translateY(-50%)
    right -50px
.next
  margin-bottom 15px
.back
  margin-bottom -35px
  margin-left 5%