.userListItem
  display flex
  align-items center
  background #fdfdfd
  height 38px
  width 100%
  border-bottom solid 1px #e7e7e7
  padding 0 10px
  .image
    margin-right 10px
  .name
    font-size 14px
    font-weight 600