@keyframes checkBefore
  from
    width 0%
  to
    width 100%

@keyframes checkAfter
  0%
    width 0%
  50%
    width 0%
  100%
    width 100%
.next
  .item
    .step
      transition-delay 1.2s
      &::after
        transition-delay 1.2s
    .line::after
      transition-delay 0.6s
.prev
  .item
    .step
      transition-delay 0.6s
      &::after
        transition-delay 0.6s
    .line::after
      transition-delay 1.2s
.wrapper
  display flex
  justify-content center
  padding-bottom 30px
  .item
    transition 0.3s
    display flex
    align-items center
    margin-top 50px
    .step
      position relative
      transition-duration 0.8s
      z-index 1
      width 26px
      height 26px
      border-radius 13px
      margin 0 -10px
      &::after
        transition-duration 0.8s
        content ''
        position absolute
        display block
        top 50%
        left 50%
        transform translateX(-50%) translateY(-50%)
        width 10px
        height 10px
        border-radius 5px
        background #aaa
      .description
        position absolute
        bottom -30px
        left 50%
        transform translateX(-50%)
        text-align center
        font-size 10px
        width 120px
        transition-duration 0.6s
    .line
      position relative
      z-index 0
      height 2px
      width min(30vw, 158px)
      background #ddd
      &:after
        transition-duration 0.8s
        position absolute
        content ''
        height 2px
        width 0
        background #41B289
    &.current
      .step
        background #41B289
        &::after
          width 6px
          height 6px
          border-radius 3px
          background #fff
        .description
          color #41B289
    &.done
      .step
        background #41B289
        .description
          color #41B289
          font-weight bold
        &::after
          display none
        .checkBefore
          position absolute
          top 50%
          left 50%
          transform rotate(40deg) translateX(-5px) translateY(5px)
          width 7px
          height 2px
          &::after
            animation-name checkBefore
            animation-duration 0.2s
            content ''
            display block
            position absolute
            top 0
            left 0
            height 100%
            width 100%
            border-radius 2px
            background #fff
        .checkAfter
          position absolute
          top 50%
          left 50%
          transform rotate(-46deg) translateX(-2px) translateY(-4px)
          width 12px
          height 2px
          &::after
            animation-name checkAfter
            animation-duration 0.4s
            content ''
            display block
            position absolute
            top 0
            left 0
            height 100%
            width 100%
            border-radius 0 2px 2px 0
            background #fff
      .line:after
        width 100%