.initialSetting
  display block
  height 38px
  line-height 38px
  padding 0 10px
  font-size 14px
  outline none
  border none
  &::placeholder
    color #ddd
  &:-ms-input-placeholder
    color #ddd
  &::-ms-input-placeholder
    color #ddd
.normal
  background #fdfdfd
.correct
  background #ECF8F3
.error
  background #FFF4F4