.wrapper
  width 100vw
  display flex
  flex-direction column
  justify-content center
  margin-bottom 25px

.list
  width min(80%, 800px)
  margin 0 auto min(50px, 3vh) auto
  li
    list-style none
    background #fff
    padding 0 10px
    height 38px
    line-height 38px
    font-size 14px
    font-weight 600
    background #fdfdfd
    border-bottom solid 1px #E7E7E7
    overflow-x scroll

.done
  margin-bottom 15px

.back
  margin-bottom -35px
  margin-left 5%