h2.help
  display flex
  align-items bottom
  align-self center
  .initialSettingsIcon
    display inline-block
    height 20px
    margin-left 10px
h3.help
  display flex
  align-items center
  .initialSettingsIcon
    display inline-block
    height 20px
    margin-left 7px