.wrapper
  margin auto
  display flex
  flex-direction column
  justify-content center
.input
  width min(80%, 800px)
  margin 0 auto
.error
  width min(80%, 800px)
  margin min(60px, 4vh) auto
  color #FF8989
  font-size 14px
  text-align center
.spaceName
  width min(80%, 800px)
  margin min(60px, 4vh) auto
  font-size 14px
  text-align center
  span
    font-size 20px
    font-weight bold
    margin 0 10px