.initialSetting
  display block
  height 35px
  padding 10px
  font-size 14px
  background #fdfdfd
  outline none
  border none
  &::placeholder
    color #ddd
  &:-ms-input-placeholder
    color #ddd
  &::-ms-input-placeholder
    color #ddd