.initialSetting
  width 100%
  transition 0.2s
  display block
  height 38px
  line-height 38px
  padding 0 10px
  font-size 14px
  background #fdfdfd
  outline none
  border none
  &::placeholder
    color #ddd
  &:-ms-input-placeholder
    color #ddd
  &::-ms-input-placeholder
    color #ddd

.validateOk
  background #ECF8F3
.validateError
  background #FFF4F4

.errorMessage
  transition 0.3s
  color #FF8989
  margin-top 8px
  font-size 12px
  height 12px
  line-height 12px